
body{
    font-family: 'Montserrat', sans-serif, 'Roboto', sans-serif;
    line-height: 1.6;
}

.container{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    margin-right: 16px;
    margin-left: 16px;

}
.col-md-6{
    padding-left: 16px;
    padding-right: 16px;
    width: 50%;
}
.responsive_image{
    height: 487px;
    width: 487px;
    border-radius: 50%;
    border-color: #1AA3F0;
    border-style: solid;
    border-width: 20px;
}
.center-heading{
    margin-left: 140px;
    margin-top: 280px;
}
.call-to-action, .heqading{
    display: block;
}

.heading h3{
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 40px;
}
.heading h1{
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 104px;
    margin-block-start: -50px;
    margin-block-end: -20px;
  
}

.btn-blue{
    background-color: #1AA3F0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 4px;
    border-width: 0;
    border-style: none;
    margin-right: .5rem;
    color: #FFF;
    font-weight: 600;
    font-family: 'Roboto';
    font-size: 16px;
}

.btn-blue-outline{
    background-color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 4px;
    border-width: 2px 2px;
    border-style: none;
    margin-right: .5rem;
    color: #1AA3F0;
    font-weight: 600;
    font-family: 'Roboto';
    font-size: 16px;
}
.col-md-1{
    width: 8.33333%;
    margin-left: 16px;
    margin-right: 16px;
}
.col-md-2{
    width: 16.66666%;
    margin-left: 16px;
    margin-right: 16px;
}
.col-md-3{
    width: 25%;
    margin-right: 16px;
    margin-left: 16px;
}
.col-md-4{
    width: 33.33333%;
    margin-left: 16px;
    margin-right: 16px;
}
.col-md-5{
    width: 41.66665%;
    margin-left: 16px;
    margin-right: 16px;
}
.col-md-7{
    width: 58.33331%;
    margin-left: 16px;
    margin-right: 16px;
}
.about-intro{
    margin-left: 81px;
    margin-top: 129px;
}
.about-intro p:first-child{
    color: #1AA3F0;
    font-size: 20px;
}
.about-intro h1{
    font-size: 104px;
    font-family: 'Roboto';
    font-weight: 800;
    margin-block-start: -50px;
    margin-block-end: -20px;
}
.about-intro p:last-child, .about-intro h1{
    color: #3E4356;
}
.about-image-container{
    margin-top: 74px;
    background-color: #D1D9E6;
    border-radius: 10px;
    box-shadow: 10px 10px 19px  #E2E8EC;
    padding: 16px;
}
.about-image{
    max-width: 100%;
    border-radius: 10px;
   
}
.institution-container{
    margin-top: 56px;
    font-family: 'Roboto';
}
.i-content{
   padding: 16px;
    border: 2px solid #1AA3F0;
    border-radius: 16px;
    background-color: #b9ddf2;
}
.i-header{
    padding: 16px;
    text-align: center;
}